<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BankingProject">
	<listeners>
		<listener class-name="com.Banking.Utilities.ExtentReport" />
	</listeners>
	<test name="BankingTestCases">
		<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="com.Banking.TestCases.TC_LoginTest_001" />
			<class name="com.Banking.TestCases.TC_LoginDDT_002" /
			<class name="com.Banking.TestCases.TC_AddCustomer_003" />
			<class name="com.Banking.TestCases.TC_EditCustomer_004" />
			<class name="com.Banking.TestCases.TC_DeleteCustomer_005" />
		</classes>
	</test>
</suite>
